* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif
}

/*
.img{
  float:left;
  width: 70%;
}
.search{
  float: right;
  width: 30%;
  padding-top: 100px;
  padding-left: 230px;
}


/* Style the search field 
.search.form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button 
.search.form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders 
  cursor: pointer;
}

.search.form.example button:hover {
  background: #0b7dda;
}

/* Clear floats 
.search.form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(26, 17, 56);
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(195, 187, 224);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #605ec2;
    color: white;
  }

body{
  min-height: 500vh;
  
  
}
.tabel{
  padding-top: 200px;
  padding-left : 100px;
  float:left;
  width :50%;
  font-size: medium;
}

.plot{
  padding-top: 200px;
  width :50%;
  float:right;
  font-size: medium;
}
/* Style buttons */
.tabel .btn {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 10px;
}

/* Darker background on mouse-over */
.tabel .btn:hover {
  background-color: rgb(115, 116, 119);
}
/* Style buttons */
.plot .btn {
  background-color:  rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 10px;
}

/* Darker background on mouse-over */
.plot .btn:hover {
  background-color: rgb(115, 116, 119);
}
.sidenav{
  background: rgb(26, 17, 56);
  position: fixed;
  width:50px;
  height: 240px;
  transition:0.3s;
  color: rgb(170, 158, 211);
  top: 300px;
  overflow: hidden;
  
}
.sidenav:hover{
  width:300px;

}
.sidenav ul{
  position : absolute;
  
  width:100%;
}

.sidenav ul li{
  position : relative;
  width:100%;
  list-style : none;
  
}
.sidenav ul li:hover{
  background :#9692d8;
}
.sidenav ul li a{
  position: relative;
  display: block;
  width : 100%;
  display: flex;
  text-decoration: none;
  color:#fff;

}

.sidenav ul li a .icon{
  position : relative;
  display : block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: : center;
  left:15px;
}

.sidenav ul li a .icon .fa{
  font-size : 18px;
  left:0;
  
}

.sidenav ul li a .title{
  position : relative;
  display : block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: : start;
  white-space:nowrap;
}